extends layout.pug
block scripts 
    script (src='/static/index.js')
block style 
    style 
        include ../static/style.css
       
block content 

    h this  is About page
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam quidem laboriosam aspernatur, quas est omnis, provident earum cumque temporibus hic voluptas distinctio iste. Aspernatur, laudantium blanditiis qui libero explicabo sapiente accusamus ullam! Ipsam quam quae reprehenderit praesentium! Repellendus maiores, perspiciatis voluptates reprehenderit sit consequuntur?