extends layout.pug
block scripts 
    script (src='/static/index.js')
block style 
    style 
        include ../static/style.css
      
block content 

    h This is info page
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, sit corporis? Tempora obcaecati quod quam ex tempore quisquam voluptatem, maxime, iure voluptatum optio reprehenderit est saepe? Nesciunt fugiat magnam optio fuga laborum totam atque, magni suscipit sed tenetur vel quae soluta voluptatem aperiam ab.