//- layout.pug
doctype html
html
  head
    title Gym
    block scripts
    block style
     
  body
    nav#navbar
        ul
           
            div#logo
                img(src="/static/img/LOGOFORWEB.png")    
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/info") Class Info]
            li #[a(href="/contact") Contact Us]

    block content
  
   
     