extends layout.pug
block scripts 
    script (src='/static/index.js')
block style 
    style 
        include ../static/style.css
  
block content 

    h This is services page
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam dignissimos ea mollitia praesentium? Quia officia enim odio soluta eaque quos at unde vel odit magnam quasi delectus consequuntur tempora asperiores expedita corrupti provident quo maxime earum, debitis eligendi vitae ab hic? Asperiores, autem enim.